# WS configuration, see http://www.playframework.com/documentation/2.3.x/ScalaWS
ws.compressionEnabled=true
# Don't pool WS client connections for more than a minute
ws.ning.maximumConnectionLifeTime = 60000

# these are our own config values defined by the app
# rename this to application.conf with real values
content-api-sanity-tests {
    host="http://capi-host/"
    host-public-secure="https://capi-public-secure-host/" # Only on PROD
    write-preview-host="https://capi-write-preview-host/"
    preview-host="https://capi-preview-host/"
    preview-username="capi-preview-username"
    preview-password="capi-preview-password"
    api-key="capi-api-key"
    write-host="https://write-host/"
    pager-duty-service-key="page-duty-service-key" # Set as 'invalid' if testing locally
    pager-duty-service-key-low-priority="pager-duty-low-priority-service-key" # Set as 'invalid' if testing locally
    composer-host="http://composer-host/"

    # PROD only. In other environments, these keys can be omitted.
    # If any key is omitted, nothing will be reported to CloudWatch.
    cloudwatch-namespace="content-api-sanity-tests"
    cloudwatch-test-runs-metric="TestRuns"
    cloudwatch-successful-tests-metric="SuccessfulTests"
    cloudwatch-failed-tests-metric="FailedTests"
}
