# WS configuration, see http://www.playframework.com/documentation/2.2.x/ScalaWS
ws.compressionEnable=true

# these are our own config values defined by the app
# rename this to application.conf with real values
content-api-sanity-tests {
    host="http://your-capi-host"
    api-key=your-capi-key
    preview-host="http://your-preview-host"
    write-host="your-write-host"
    write-username=your-write-username
    write-password=your-write-password
}
